.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;

  .image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 12px;
    width: 100%;
    min-width: 100px;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.85;
    }
    .custom-button {
      display: flex;
      justify-content: center;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 95%;
      margin-bottom: 15px;
    }

    .price {
      width: 5%;
    }
  }
}
