body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .loader-text {
    position: absolute;
  }
}

* {
  box-sizing: border-box;
}
